<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gianlu.pretendyourexyzzy">

    <!-- ... -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Save round images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Loading activity -->
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.pretendyoure.xyz"
                    android:scheme="http" />
                <data
                    android:host="*.pretendyoure.xyz"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Tutorial activity -->
        <activity
            android:name=".SpareActivities.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <!-- Main activity (with all the fragments) -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />

        <!-- Metrics activity (sessions, games, rounds) -->
        <activity
            android:name=".Metrics.MetricsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Manager servers activity -->
        <activity
            android:name=".SpareActivities.ManageServersActivity"
            android:parentActivityName=".LoadingActivity"
            android:screenOrientation="portrait" />

        <!-- Starred cards activity -->
        <activity
            android:name=".Starred.StarredCardsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Starred decks activity -->
        <activity
            android:name=".Starred.StarredDecksActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- Cardcast deck activity -->
        <activity
            android:name=".SpareActivities.CardcastDeckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Preferences activity -->
        <activity
            android:name=".PreferencesActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- Logs activity -->
        <activity
            android:name="com.gianlu.commonutils.LogsActivity"
            android:parentActivityName=".PreferencesActivity"
            android:screenOrientation="portrait" />

        <!-- GameRound images provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gianlu.pretendyourexyzzy"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>