<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gianlu.pretendyourexyzzy">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Loading activity -->
        <activity
            android:name=".LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.pretendyoure.xyz"
                    android:scheme="http" />
                <data
                    android:host="*.pretendyoure.xyz"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Main activity (with all the fragments) -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />

        <!-- Starred cards activity -->
        <activity
            android:name=".StarredCardsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Cardcast deck activity -->
        <activity
            android:name=".CardcastDeckActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Preferences activity -->
        <activity
            android:name=".PreferencesActivity"
            android:parentActivityName=".MainActivity" />

        <!-- Logs activity -->
        <activity
            android:name="com.gianlu.commonutils.LogsActivity"
            android:parentActivityName=".PreferencesActivity" />

        <!-- Google Analytics -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>