<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gianlu.pretendyourexyzzy"
    android:installLocation="auto">

    <!-- ... -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Save round images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Loading activity -->
        <activity
            android:name=".LoadingActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.pretendyoure.xyz"
                    android:scheme="http" />
                <data
                    android:host="*.pretendyoure.xyz"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Tutorial activity -->
        <activity
            android:name=".activities.TutorialActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <!-- Main activity (with all the fragments) -->
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.Drawer" />

        <!-- Metrics activity (sessions, games, rounds) -->
        <activity
            android:name=".metrics.MetricsActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Manager servers activity -->
        <activity
            android:name=".activities.ManageServersActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullDark" />

        <!-- Starred cards activity -->
        <activity
            android:name=".starred.StarredCardsActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Preferences activity -->
        <activity
            android:name=".PreferenceActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullDark" />

        <!-- GameRound images provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gianlu.pretendyourexyzzy"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>